/* Form */
.dialogs__form__textarea {
    width: 570px;
    height: 80px;
    background-color: #E6EEEA;
    border: none;
    resize: none;

    color: #47525e;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    text-align: left;
    padding: 15px;
}

.dialogs__form__textarea:focus {
    outline: none;
    border: 1px solid #36abc7;
}

.dialogs__form__textarea::placeholder {
    color: #B0B8C2;
    font-size: 26px;
}

.dialogs__form__right {
    text-align: right;
    margin-top: 22px;
    width: 600px;
}

.dialogs__btn {
    background-color: #0CB658;
    width: 162px;
    height: 36px;
    border: none;
    cursor: pointer;
    border-radius: 5px;

    color: #FFFFFF;
    font-size: 26px;
    font-weight: 400;
    line-height: 33px;
    text-align: left;
    padding: 0 22px;

    transition: background-color .2s linear, color .02s linear, border-color .2s linear;
}

.dialogs__btn:focus {
    outline: none;
}

.dialogs__btn:hover {
    background-color: #e44163;
    color: #ffffff;
    border-color: #e44163;
}
