.field__error {
    color: red;
    font-weight: 700;
    font-size: 16px;
}

.field__error:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: '\F06A';
    margin-right: 5px;
}


.formControl.error textarea {
    border: 1px solid red;
}

.formControl.error input {
    border: 1px solid red;
}