.login__header {
    display: flex;
    justify-content: center;
}

.login__text:first-child {
    margin-right: 36px;
}

.login__text {
    color: #47525E;
    font-size: 26px;
    line-height: 33px;
    text-decoration: none;
}

.login__wrapper {
    display: flex;
    justify-content: center;
}